<div class="row">
  <div class="col-lg-12">
    <h2>Resturnat</h2>
</div>
<div class="col-lg-12">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let resto of ListRestos">
        <th scope="row">{{resto.id}}</th>
        <td>{{resto.name}}</td>
        <td>{{resto.address}}</td>
        <td>{{resto.email}}</td>
        <td><i (click)="Deleteresto(resto.id)" class="fa fa-trash" style="font-size: 30px;"></i></td>
        <td> <a routerLink="/Update/{{resto.id}}">
          <i  class="fa fa-edit" style="font-size: 30px;"></i>
        </a>
       </td>
      </tr>
      
    </tbody>
  </table>
  </div>
</div>
